/* Estilos generales */
body {
    background-color: rgb(135, 172, 206); /* Un tono de azul oscuro como fondo */
    color: #fff; /* Texto blanco para contrastar */
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; /* Fuente Montserrat para todo el cuerpo */
}

/* Estilos del formulario de usuarios */
.users-form form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 30%;
    margin: 20px auto;
    text-align: center;
}

.users-form form input {
    font-family: 'Montserrat', sans-serif;
}

.users-form form input[type=text],
.users-form form input[type=password],
.users-form form input[type=email] {
    padding: 10px; /* Ajusté el padding */
    border: 2px solid #dd6e62; /* Rojo */
    border-radius: 5px; /* Bordes más redondeados */
    outline: none;
    transition: 0.3s;
}

.users-form form input[type=text]:focus,
.users-form form input[type=password]:focus,
.users-form form input[type=password]:focus {
    border-color: #e6aea8; /* Rojo más oscuro al enfocar */
    box-shadow: 0 0 8px 0 #755f5c; /* Sombra roja al enfocar */
}

.users-form form input[type=submit] {
    border: none;
    padding: 12px 20px; /* Ajusté el padding */
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50px; /* Bordes redondos */
    background-color: #834c46; /* Rojo */
    color: #fff; /* Texto blanco */
}

.users-form form input[type=submit]:hover {
    background-color: #c0392b; /* Rojo más oscuro al pasar el ratón */
    color: #fff;
}

/* Estilos de la tabla de usuarios */
.users-table table {
    border: 1px solid #e74c3c; /* Borde rojo */
    border-collapse: collapse;
    margin: 20px auto;
    width: 80%;
    table-layout: fixed;
}

table tr {
    background-color: #c0392b; /* Fondo rojo */
    border: 1px solid #c0392b; /* Borde del mismo color que el fondo */
    padding: 12px;
    color: #fff;
}

table th {
    padding: 16px;
    text-align: center;
    font-size: 1em;
}

.users-table--edit,
.users-table--delete {
    display: inline-block; /* Alineados en línea */
    padding: 10px 20px; /* Ajusté el padding */
    margin: 5px; /* Espaciado entre botones */
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px; /* Bordes redondos */
}

.users-table--edit {
    background: #d9534f; /* Rojo más claro */
    color: #fff;
}

.users-table--delete {
    background: #992d2d; /* Rojo oscuro */
    color: #fff;
}
